@import "tailwindcss";

@import "./scrollbar.css";

@theme {
  --color-white: #f5f5f5;
  --color-black: #000000;

  --color-gray-1: #121212;
  --color-gray-2: #1a1a1a;
  --color-gray-3: #232323;
  --color-gray-4: #2a2a2a;
  --color-gray-5: #313131;
  --color-gray-6: #3a3a3a;
  --color-gray-7: #484848;
  --color-gray-8: #616161;
  --color-gray-9: #6f6f6f;
  --color-gray-10: #7c7c7c;
  --color-gray-11: #b4b4b4;
  --color-gray-12: #eee;

  --color-gray-contrast: #ffffff;
  --color-gray-surface: rgba(0, 0, 0, 0.05);
  --color-gray-indicator: #6f6f6f;
  --color-gray-track: #6f6f6f;

  --color-blue-1: #0a1220;
  --color-blue-2: #0f1829;
  --color-blue-3: #0e254f;
  --color-blue-4: #0b2d6d;
  --color-blue-5: #123881;
  --color-blue-6: #1c4593;
  --color-blue-7: #2553aa;
  --color-blue-8: #2d63ca;
  --color-blue-9: #2654ab;
  --color-blue-10: #1c4694;
  --color-blue-11: #83b4ff;
  --color-blue-12: #cde2ff;

  --color-blue-contrast: #fff;
  --color-blue-surface: #0d1e4080;
  --color-blue-indicator: #2654ab;
  --color-blue-track: #2654ab;
}

:root {
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--color-white);
  background: var(--color-black);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}
